* {
    justify-content: center;
    align-items: left;
}

.checkout-item {
    display: inline-table;
    width: 10rem;
    padding: 1rem;
    box-sizing: border-box;
    border-top: solid;
    border-bottom: solid;
    background-color: lightgray;
}

.checkout-sides {
    display: inline-table;
    padding: 1rem;
    box-sizing: border-box;
    border-style: solid;
    background-color: lightgray;
}

.checkout-quantity {
    display: inline-table;
    width: 10rem;
    padding: 1rem;
    box-sizing: border-box;
    border-top: solid;
    border-bottom: solid;
    border-left: solid;
    background-color: lightblue;
}

.checkout-price {
    display: inline-table;
    width: 13rem;
    padding: 1rem;
    box-sizing: border-box;
    border-style: solid;
    background-color: lightblue;
}

h2 {
    font-size: 40px;
    text-align: center;
}

mat-card {
    width: 50%;
    margin-left: 25%;
}

.button {
    align-self: center;
}

.total {
    text-align: right;
}

.total-header {
    font-size: 24px;
    text-align: right;
}